* {
  padding: 0;
  margin: 0;
}
.logo {
  width: 80px;
  height: 80px;
}
#note {
  font-size: 25px;
  color: white;
  margin: auto;
}
header {
  height: 80px;
  width: auto;
  border: 1px solid white;
  display: flex;
}
ul,
ol {
  list-style: none;
}

body {
  background: black;
}
.main {
  width: 810px;
  height: 320px;
  margin: 150px auto;
  overflow: hidden;
}
li {
  width: 160px;
  float: left;
  border-left: 2px solid white;
  position: relative;
  transition: all 0.5s;
}
.flag {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
}
.main:hover li {
  width: 125px;
}
.main li:hover {
  width: 300px;
  padding: auto;
}
